
:root {
  --size: 250px;
  --speed: 5s;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.loader {
  width: var(--size);
  height: var(--size);
}

.loader__inner {
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 
    0 -10px 0 0 rgba(239 ,133, 51, 0.6),
    -7.5px 5px 0 0 rgba(239, 92,0, .6),
    7.5px 5px 0 0 rgba(2255, 51, 51, .6);
  animation: rotate var(--speed) linear infinite;
}
.loader__inner:nth-child(2) {
  box-shadow: 
    7.5px -5px 0 0 rgba(179, 71, 0, .6),
    -7.5px -5px 0 0 rgba(179, 71, 0, .6),
    0 10px 0 0 rgba(277, 71, 26, .6);
  animation: rotate__other var(--speed) linear infinite;
}
@keyframes rotate {
  50% {
    transform: scale(1.4) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes rotate__other {
  50% {
    transform: scale(1.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-720deg);
  }
}

