@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* changes start from here */
.flip-card {
  background-color: transparent;
  width: 300px;
 
 
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  padding: 5px;
}
.flip-card-front {
  
  color: black;
  z-index: 2;
}
.flip-card-back{
  background-color: #aaa;
  transform: rotateY(180deg);
  z-index: 2;
}
/* till here */

.input {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input:hover {
    background-color: #999;
}


.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}




.container-fluid {
    color: #000;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 3px;
}

.navbar-form-search {
    position: relative;
   
}
.navbar-form-search .form-control {
        width: 250px;
 }

    .navbar-form-search .btn:active, .navbar-form-search .btn:hover, .navbar-form-search .btn:focus {
        color: #000;
        outline: none;
        box-shadow: none;
    }

    .navbar-form-search .search-form-container {
        text-align: right;
        position: absolute;
        width: 300px;
        overflow: hidden;
        background: #fff;
        right: 60px;
        top: 0;
        z-index: 9;
        transition: all .3s ease-in-out;
    }

        .navbar-form-search .search-form-container.hdn {
            width: 0;
        }

        .navbar-form-search .search-form-container .search-input-group {
            width: 300px;
        }

/* The side navigation menu */
.col-sm-2{
  margin: 0;
  padding: 0;
  
  background-color: #f1f1f1;
  height: 1000px;
  height: 100%;
  overflow: auto;
  font-size: 20px;
}
/* Sidebar links */
.col-sm-2 a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
/*Links on mouseover*/
.col-sm-2 a:hover:not(.active) {
  background-color: #000;
  color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.sub {
    text-align: left;
    font-size: 15px

}
a{
  text-decoration:none !important;
  }
  h1,h2,h3{
  font-family: 'Kaushan Script', cursive;
}
.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}
.tx-tfm{
    text-transform:uppercase;
}
.mybtn{
    border-radius:50px;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.google {
  color:#666;
  width:100%;
  height:40px;
  text-align:center;
  outline:none;
  border: 1px solid lightgrey;

}
form .error {
  color: #ff0000;
}
#second{display:none;}

header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url(https://images.unsplash.com/photo-1500644970114-4ff3c3dfb61f?ixlib=rb-0.3.5&s=33d4685c80317957e807f325f8dd93cd&auto=format&fit=crop&w=1050&q=80) no-repeat bottom;
  background-size: cover;
  content: "";
  opacity: 0;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

header:after {
  animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  z-index: 0;
}

.header-title, .header-subtitle {
  color: #fff;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.rocky-dashed {
  animation-delay: .6s;
}

.header-title {
  animation-delay: .8s;
}

.header-subtitle {
  animation-delay: 1s;
}

.header-button {
  animation-delay: 1.1s;
}


/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}
